<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
    <title>Página Inicial</title>
</head>
<body>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo, tenetur? Incidunt totam sunt voluptatum recusandae mollitia aspernatur architecto ducimus sapiente! Maxime a iste modi, ea provident laudantium sed ut beatae.</p>
</body>
</html>